html, body, .block {
    height: 100%;
  }
  .navigation{
    background-color: #283593;
  }


  .dropdown-content li > a, .dropdown-content li > span {
    color: #283593;
}
.page-footer{
  background-color: #283593;
}